[submodule "cosmic-session"]
	path = cosmic-session
	url = https://github.com/pop-os/cosmic-session
[submodule "cosmic-comp"]
	path = cosmic-comp
	url = https://github.com/pop-os/cosmic-comp
[submodule "cosmic-panel"]
	path = cosmic-panel
	url = https://github.com/pop-os/cosmic-panel
[submodule "cosmic-applets"]
	path = cosmic-applets
	url = https://github.com/pop-os/cosmic-applets
[submodule "cosmic-applibrary"]
	path = cosmic-applibrary
	url = https://github.com/pop-os/cosmic-applibrary
[submodule "cosmic-launcher"]
	path = cosmic-launcher
	url = https://github.com/pop-os/cosmic-launcher
[submodule "simple-wrapper"]
	path = simple-wrapper
	url = https://github.com/pop-os/simple-wrapper
[submodule "cosmic-applet-host"]
	path = cosmic-applet-host
	url = https://github.com/pop-os/cosmic-applet-host
[submodule "cosmic-settings-daemon"]
	path = cosmic-settings-daemon
	url = https://github.com/pop-os/cosmic-settings-daemon
[submodule "xdg-desktop-portal-cosmic"]
	path = xdg-desktop-portal-cosmic
	url = https://github.com/pop-os/xdg-desktop-portal-cosmic.git
[submodule "cosmic-osd"]
	path = cosmic-osd
	url = https://github.com/pop-os/cosmic-osd.git
