[Unit]
Description=Wayland-proxy-virtwl
After=cosmic-session.target
WantedBy=cosmic-session.target

[Service]
ExecStart=/usr/bin/wayland-proxy-virtwl --wayland-display wayland-virtwl
ExecStartPost=/usr/bin/systemctl --user set-environment DISPLAY=":0"

[Install]
WantedBy=cosmic-session.target
